<h1>Welcome to SvelteKit</h1>

<script>
    import {Calendar} from 'fullcalendar';
    import {onMount} from 'svelte';

    /**
	 * @type {HTMLElement}
	 */
    let ref;

    onMount(() => {
        const cal = new Calendar(ref, {
            initialView: 'dayGridMonth',
            editable: true,
            aspectRatio: 2,
        })
        cal.render();
    })


</script>

<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
<div bind:this={ref}></div>